ion-toolbar,
ion-title,
ion-button {
  --background: #3b5998;
  color: white;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.fbsign{
  height: 90px;
}